<div class="modal-dialog" style="width: 360px;padding-top: 50px;">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel" style="text-align: center;"><b>Add Role</b></h3>
    </div>
    <div class="modal-body">
      <%= form_tag(add_roles_to_user_path(user.id), id: "add_roles_form", class: "form-horizontal", method: :post) do %>
        <%= hidden_field_tag :from, @from %>
        <div class="form-group" id="role_name">
          <label class="col-sm-12">Select Roles:</label>
          <% roles.each do |role| %>
            <div class="col-sm-12">
              <span><%= role.name.humanize.titleize %></span>
              <% if user.has_role? role.name %>
                <input type="checkbox" data-class="switcher-primary" checked="checked" class="role_names" name="roles[]" value="<%= role.name %>">&nbsp;&nbsp;
              <% else %>
                <input type="checkbox" data-class="switcher-primary" class="role_names" name="roles[]" value="<%= role.name %>">&nbsp;&nbsp;
              <% end %>
            </div>
          <% end %>
        </div>
        <%= submit_tag "Submit", class: "hide" %>
      <% end %>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button class="btn btn-primary btn-labeled" id="add_roles_button">OK</button>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $('.role_names').switcher({
      theme: 'square',
      on_state_content: '<span class="fa fa-check"></span>',
      off_state_content: '<span class="fa fa-times"></span>'
    });

    $('#add_roles_button').click(function() {
      $("#add_roles_form").submit();
    });
  });
</script>