<div id="content-wrapper">
	<%= render 'layouts/admin/messages' %>
	<ul class="breadcrumb breadcrumb-page" style="margin-top: 0px;">
		<div class="breadcrumb-label text-light-gray">You are here: </div>
		<li class=""><a href="#">Dashboard</a></li>
	</ul>
	<div class="page-header">
		<div class="row">
			<h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="fa fa-dashboard page-header-icon"></i>&nbsp;&nbsp;Dashboard</h1>

			<div class="col-xs-12 col-sm-8">
				<div class="row">
					<hr class="visible-xs no-grid-gutter-h">

					<div class="visible-xs clearfix form-group-margin"></div>

				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-dark panel-info">
				<div class="panel-heading">
					<span class="panel-title"><i class="panel-title-icon fa fa-smile-o"></i>Blog Posts</span>
					<div class="panel-heading-controls">
						<a class="btn" href="<%= admin_blog_posts_path %>">View All</a>
					</div>
				</div>
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th>#</th>
								<th class="center">Image</th>
								<th class="center">Title</th>
								<th class="center">Description</th>
								<th class="center">Posted At</th>
								<th class="center">Posted By</th>
								<th class="center">Comments</th>
								<th class="center">Tags</th>
								<th class="center">Allowed to Show</th>
								<th class="center" colspan="3">Action</th>
							</tr>
						</thead>
						<tbody class="valign-middle">
							<% @blog_posts.each_with_index do |blog_post, index|%>
								<tr>
									<td><%= index + 1 %></td>
									<% if blog_post.image_url_thumb.present? %>
										<td class="center"><img src="<%= blog_post.image_url_thumb %>" style="border-radius: 999999px !important;width: 54px;height: 54px;"></td>
									<% else %>
										<td class="center"><img src="/assets/avatar.png" style="border-radius: 999999px !important;width: 54px;height: 54px;"></td>
									<% end %>
									<td class="center"><%= blog_post.title %></td>
									<td class="center"><%= blog_post.description.html_safe %></td>
									<td class="center"><%= blog_post.created_at.strftime("%B %d, %Y") %></td>
									<td class="center" style="padding: 5px;"><a data-toggle="modal" data-target="#myModal-Window" data-remote=true href="#"><%= blog_post.user.fullname %></a></td>
									<td class="center" style="padding: 5px;"><a data-toggle="modal" data-target="#myModal-Window" data-remote=true href="#">Comments</a></td>
									<td class="center" style="padding: 5px;"><a data-toggle="modal" data-target="#myModal-Window" data-remote=true href="#">Tags</a></td>
									<td class="center">
										<%= form_tag(blog_allowed_to_show_admin_dashboard_index_path, remote: true, authenticity_token: true, class: "allowed_to_show_form") do %>
		                  <%= hidden_field_tag :blog_post_id, blog_post.id %>
		                  <% if blog_post.show? %>
		                    <input type="checkbox" data-class="switcher-primary" checked="checked" class="allowed_to_show" name="show">&nbsp;&nbsp;
		                  <% else %>
		                    <input type="checkbox" data-class="switcher-primary" class="allowed_to_show" name="show">&nbsp;&nbsp;
		                  <% end %>
		                <% end %>
									</td>
									<td class="center" style="padding: 5px;"><a data-toggle="modal" data-target="#myModal-Window" data-remote=true href="#">View</a></td>
									<td class="center" style="padding: 5px;"><%=link_to "Edit", "#" %></td>
									<td class="center" style="padding: 5px;"><a data-toggle="modal" data-target="#myModal-Window" data-remote=true href="#">Delete</a></td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div> <!-- / .panel -->
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-dark panel-info">
				<div class="panel-heading">
					<span class="panel-title"><i class="panel-title-icon fa fa-smile-o"></i>Users</span>
					<div class="panel-heading-controls">
						<a class="btn" href="<%= admin_users_path %>">View All</a>
					</div>
				</div>
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th>#</th>
								<th class="center">Image</th>
								<th class="center">User Name</th>
								<th class="center">Name</th>
								<th class="center">E-mail</th>
								<th class="center">Allowed to Post</th>
								<th class="center">Allowed to Comment</th>
	            	<th class="center">Roles</th>
							</tr>
						</thead>
						<tbody class="valign-middle">
							<% @users.each_with_index do |user, index|%>
								<tr>
									<td><%= index + 1 %></td>
									<% if user.photo_url_thumb.present? %>
										<td class="center"><img src="<%= user.photo_url_thumb.image %>" style="border-radius: 999999px !important;width: 54px;height: 54px;"></td>
									<% else %>
										<td class="center"><img src="/assets/avatar.png" style="border-radius: 999999px !important;width: 54px;height: 54px;"></td>
									<% end %>
									<td class="center"><%= user.username %></td>
									<td class="center"><%= user.fullname %></td>
									<td class="center"><%= user.email %></td>
									<td class="center">
										<%= form_tag(user_allowed_to_post_admin_dashboard_index_path, remote: true, authenticity_token: true, class: "allowed_to_post_form") do %>
		                  <%= hidden_field_tag :user_id, user.id %>
		                  <% if user.allowed_to_post? %>
		                    <input type="checkbox" data-class="switcher-primary" checked="checked" class="allowed_to_post" name="post">&nbsp;&nbsp;
		                  <% else %>
		                    <input type="checkbox" data-class="switcher-primary" class="allowed_to_post" name="post">&nbsp;&nbsp;
		                  <% end %>
		                <% end %>
									</td>
									<td class="center">
										<%= form_tag(user_allowed_to_comment_admin_dashboard_index_path, remote: true, authenticity_token: true, class: "allowed_to_comment_form") do %>
		                  <%= hidden_field_tag :user_id, user.id %>
		                  <% if user.allowed_to_comment? %>
		                    <input type="checkbox" data-class="switcher-primary" checked="checked" class="allowed_to_comment" name="comment">&nbsp;&nbsp;
		                  <% else %>
		                    <input type="checkbox" data-class="switcher-primary" class="allowed_to_comment" name="comment">&nbsp;&nbsp;
		                  <% end %>
		                <% end %>
									</td>
		              <td class="center">
		                <% user.roles.each do |role| %>
		                  <%= role.name.humanize.titleize %><br/>
		                <% end %>
	                	<a data-toggle="modal" data-target="#myModal-Window" data-remote=true href="<%= add_role_path(user.id) %>" class="btn btn-xs">Add Role</a>
		              </td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div> <!-- / .panel -->
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-dark panel-info">
				<div class="panel-heading">
					<span class="panel-title"><i class="panel-title-icon fa fa-smile-o"></i>Roles</span>
					<div class="panel-heading-controls">
						<a class="btn" href="<%= admin_roles_path %>">View All</a>
					</div>
				</div>
				<div class="table-responsive">
					<table class="table">
	          <thead>
	            <tr>
	              <th>#</th>
	              <th class="center">Name</th>
	            </tr>
	          </thead>
	          <tbody class="valign-middle">
	            <% @roles.each_with_index do |role, index|%>
	              <tr>
	                <td><%= index + 1 %></td>
	                <td class="center"><%= role.name %></td>
	              </tr>
	            <% end %>
	          </tbody>
	        </table>
				</div>
			</div> <!-- / .panel -->
		</div>

		<div class="col-md-6">
			<div class="panel panel-dark panel-info">
				<div class="panel-heading">
					<span class="panel-title"><i class="panel-title-icon fa fa-smile-o"></i>Tags</span>
					<div class="panel-heading-controls">
						<a class="btn" href="<%= admin_blog_tags_path %>">View All</a>
					</div>
				</div>
				<div class="table-responsive">
					<table class="table">
	          <thead>
	            <tr>
	              <th>#</th>
	              <th class="center">Name</th>
	              <th class="center">Category</th>
	            </tr>
	          </thead>
	          <tbody class="valign-middle">
	            <% @tags.each_with_index do |tag, index|%>
	              <tr>
	                <td><%= index + 1 %></td>
	                <td class="center"><%= tag.name %></td>
	                <td class="center"><%= tag.category %></td>
	              </tr>
	            <% end %>
	          </tbody>
	        </table>
				</div>
			</div> <!-- / .panel -->
		</div>
	</div>
</div>
